name: Test CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  integration_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: integration test 
      run: ./exec_integration.sh
  lint_backend:
    defaults:
      run:
        working-directory: backend
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '22'
    - name: Enable pnpm
      run: corepack enable pnpm
    - name: backend lint
      run:  pnpm install && pnpm run lint
    - name: backend format
      run: pnpm run format_check 
  lint_frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: front
    steps:
    - uses: actions/checkout@v3
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '22'
    - name: Enable pnpm
      run: corepack enable pnpm
    - name: frontend lint
      run:  pnpm install && pnpm run lint
    - name: frontend format
      run: pnpm run format_check 
